@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 95%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-shadow {
  box-shadow: 0px 0px 20px gray;
}

select {
  -webkit-appearance: none;
}

#grow-height {
  max-height: auto;
  transition: 0.5s max-height ease-out;
}

#hide-height {
  max-height: 0;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 85%;
  }
}
